

{% extends "crm/layout.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'crm/assets/vendor/libs/datatables/datatables.css' %}">
{% endblock %}
{% block title %}
    Dashboard
{% endblock %}
{% block body %}
<!-- Layout content -->
<div class="layout-content">
	<!-- Content -->
	<div class="container-fluid flex-grow-1 container-p-y">
		<h4 class="font-weight-bold py-3 mb-4">
			Dashboard
			<div class="text-muted text-tiny mt-1"><small class="font-weight-normal">{{date_today}}</small></div>
		</h4>
		<!-- Counters -->
		<div class="row">
			<div class="col-sm-6 col-xl-3">
				<div class="card mb-4">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div class="lnr lnr-cart display-4 text-success"></div>
							<div class="ml-3">
								<div class="text-muted small">Monthly sales</div>
								<div class="text-large">${{sales_count}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-xl-3">
				<div class="card mb-4">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div class="lnr lnr-gift display-4 text-danger"></div>
							<div class="ml-3">
								<div class="text-muted small">Products</div>
								<div class="text-large">{{products_count}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-xl-3">
				<div class="card mb-4">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div class="lnr lnr-apartment display-4 text-danger"></div>
							<div class="ml-3">
								<div class="text-muted small">Companies</div>
								<div class="text-large">{{companies_count}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-xl-3">
				<div class="card mb-4">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div class="lnr lnr-users display-4 text-warning"></div>
							<div class="ml-3">
								<div class="text-muted small">People</div>
								<div class="text-large">{{people_count}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- / Counters -->
		<!-- Statistics -->
		<div class="card mb-4">
			<h6 class="card-header with-elements">
				<div class="card-header-title">Statistics</div>
				<div class="card-header-elements ml-auto">
					<label class="text m-0">
					<span class="text-light text-tiny font-weight-semibold align-middle">
					SHOW STATS
					</span>
					<span class="switcher switcher-sm d-inline-block align-middle mr-0 ml-2">
					<input type="checkbox" class="switcher-input" checked>
					<span class="switcher-indicator">
					<span class="switcher-yes"></span>
					<span class="switcher-no"></span>
					</span>
					</span>
					</label>
				</div>
			</h6>
			<div class="row no-gutters row-bordered">
				<div class="col-md-8 col-lg-12 col-xl-8">
					<div class="card-body">
						<div style="height: 210px;">
							<canvas id="statistics-chart-1"></canvas>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-12 col-xl-4">
					<div class="card-body">
						<!-- Numbers -->
						<div class="row">
							<div class="col-6 col-xl-5 text-muted mb-3">Total sales</div>
							<div class="col-6 col-xl-7 mb-3">
								<span class="text-big">{{total_sales_count}}</span>
							</div>
							<div class="col-6 col-xl-5 text-muted mb-3">Income amount</div>
							<div class="col-6 col-xl-7 mb-3">
								<span class="text-big">${{total_sales_income}}</span>
							</div>
							<div class="col-6 col-xl-5 text-muted mb-3">Sales lost</div>
							<div class="col-6 col-xl-7 mb-3">
								<span class="text-big">{{sales_loss_count}}</span>
							</div>
							<div class="col-6 col-xl-5 text-muted mb-3">Total sales loss</div>
							<div class="col-6 col-xl-7 mb-3">
								<span class="text-big">${{total_sales_loss}}</span>
							</div>
						</div>
						<!-- / Numbers -->
					</div>
				</div>
			</div>
		</div>
		<!-- / Statistics -->
    <div class="row">
      <div class="col-md-6">
				<!-- Sale stats -->
				<div class="card mb-4">
					<h6 class="card-header with-elements">
						<div class="card-header-title">Hot Leads</div>
					</h6>
					<div class="card-datatable table-responsive">
						<table class="datatables-demo table table-striped card-table">
							<thead>
								<tr>
									<th>Lead</th>
									<th>Expected close date</th>
									<th>Value</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% for hot_lead in hot_leads %}
								<tr>
									<td>{{hot_lead.name}}</td>
									<td>{{hot_lead.expected_close_date}}</td>
									<td>${{hot_lead.value}}</td>
									<td>
										<a href="{% url 'lead_page' hot_lead.id %}">
										<button class="btn btn-default">
										<i class="far fa-edit d-block"></i>
										</button>
										</a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<!-- / Sale stats -->
			</div>
			<div class="col-md-6">
				<!-- Sale stats -->
				<div class="card mb-4" style="min-height: 420px;">
					<h6 class="card-header with-elements">
						<div class="card-header-title">Pipelines</div>
					</h6>
					<div class="card-datatable table-responsive">
						<div class="form-group">
							<div class="col-sm-12">
								<select class="custom-select" id="pipeline-selection">
									{% for pipeline in pipeline_list %}
									<option value="{{pipeline.id}}">{{pipeline.name}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<table class="table table-striped card-table">
							<thead>
							</thead>
							<tbody id="stage-stats-body">
								{% for stage in stage_lead_counts %}
								<tr>
									<td>{{stage.name}}</td>
									<td>{{stage.count}} Leads</td>
									<td>${{stage.value}}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<!-- / Sale stats -->
			</div>

    </div>
		<div class="row">
			<!-- Charts -->
			
			<div class="col-sm-6 col-xl-4">
				<div class="card mb-4">
					<h6 class="card-header bg-success text-white">
						<i class="ion ion-md-cash"></i>&nbsp;
						Revenue
					</h6>
					<div class="bg-success text-white">
						<div class="d-flex align-items-center position-relative mt-4" style="height:140px;">
							<div class="w-100 position-absolute" style="height:140px;top:0;">
								<canvas id="statistics-chart-5"></canvas>
							</div>
							<div class="w-100 text-center text-xlarge">{{doughtnut_progress}}</div>
						</div>
						<div class="text-center mt-3 mb-4">
							Sales this month
						</div>
					</div>
					<div class="card-footer border-0 text-center py-3">
						<div class="row">
							<div class="col">
								<div class="text-muted small mb-1">Target</div>
								<strong class="text-big">${{user.customer.sales_target}}</strong>
							</div>
							<div class="col">
								<div class="text-muted small mb-1">Current</div>
								<strong class="text-big">${{current_month_sales_value}}</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
      
      <div class="col-sm-6 col-xl-5">
				<!-- Type gadgets chart -->
				<div class="card mb-4" style="height: 355px;">
					<h6 class="card-header with-elements">
						<div class="card-header-title">Leads status</div>
						<div class="card-header-elements ml-auto">
							<button type="button" class="btn btn-outline-primary btn-xs icon-btn md-btn-flat">
							<i class="ion ion-md-sync"></i>
							</button>
						</div>
					</h6>
					<div class="py-4 px-3">
						<div style="height:162px;">
							<canvas id="statistics-chart-6"></canvas>
						</div>
					</div>
				</div>
				<!-- / Type gadgets chart -->
			</div>
			<!-- / Charts -->
		
		

		</div>
	</div>
	<!-- / Content -->
</div>
<!-- Layout content -->
{% endblock %}
{% block script %}
    <script src="{% static 'crm/assets/vendor/libs/chartjs/chartjs.js' %}"></script>
    <script src="{% static 'crm/assets/js/demo.js' %}"></script>
    <script src="{% static 'crm/assets/js/dashboards_dashboard-1.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'crm/assets/vendor/libs/datatables/datatables.js' %}"></script>
    <script src="{% static 'crm/assets/js/tables_datatables.js' %}"></script>
    <script>
        var stat_chart_data = {{stat_chart_data|safe}};
        var leads_pie_chart_data = {{leads_pie_chart_data|safe}}
        var doughnut_chart_data = {{doughnut_chart_data|safe}}
        
    </script>
{% endblock %}

