
{% extends "crm/layout.html" %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'crm/assets/vendor/libs/datatables/datatables.css' %}">
{% endblock %}
{% block body %}

<div class="layout-content">
    <!-- Content -->
    <div class="container-fluid flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-4">
            <span class="text-muted font-weight-light">Leads /</span> List
        </h4>
        <div class="card">
            <h6 class="card-header">
              DataTable within card
            </h6>
            <div class="card-datatable table-responsive">
              <table class="datatables-demo table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Lead name</th>
                    <th>Company</th>
                    <th>Value</th>
                    <th>Confidence</th>
                    <th>Status</th>
                    <th>Source</th>
                    <th>Action</th>
                  </tr>
                </thead>
                  <tbody>
                    {% for lead in leads %}
                    <tr class="odd gradeX">
                      <td>{{lead.name}}</td>
                      <td>{{lead.company}}</td>
                      <td>${{lead.value}}</td>
                      <td class="center"> {{lead.confidence}}%</td>
                      <td>{{lead.status}}</td>
                      <td class="center">{{lead.source}}</td>
                      <td>
                        <a href="{% url 'lead_page' lead.id %}">
                          <button class="btn btn-default">
                            <i class="far fa-edit d-block"></i>
                          </button>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
          </div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'crm/assets/js/demo.js' %}"></script>
    <script src="{% static 'crm/assets/vendor/libs/datatables/datatables.js' %}"></script>
    <script src="{% static 'crm/assets/js/tables_datatables.js' %}"></script>
    <script src="{% static 'crm/assets/js/more_menu.js' %}"></script>

    {% endblock %}