
{% extends "crm/layout.html" %}
{% load static %}
{% load stage_complete %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'crm/assets/vendor/libs/datatables/datatables.css' %}">
    <link rel="stylesheet" href="{% static 'crm/assets/vendor/libs/sweetalert2/sweetalert2.css' %}">
{% endblock %}
{% block body %}

<div class="layout-content">
    <!-- Content -->
    <div class="container-fluid flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-4">
            <span class="text-muted font-weight-light">Leads /</span> Page
        </h4>
        <div class="card">
            <ul class="search-nav nav nav-tabs tabs-alt container-m-nx container-p-x mb-4">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#pipeline-tab"><i class="fas fa-project-diagram"></i>&nbsp; Pipeline</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#more-info"><i class="fas fa-info-circle "></i>&nbsp; More Info</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="pipeline-tab">
                    <h6 class="card-header">
                        {{lead.name}}
                      </h6>
                      <div class="card-body">	
                          <div>
                              <div class="lead-header">
                                 <div class="lead-header-item"> 
                                      <div class="lead-header-item-title">
                                          <h6>Opened On</h6>
                                      </div>
                                      <div class="lead-header-item-body">
                                          <span>{{lead.opened_date}}</span>
                                      </div>
                                 </div>
                                  <div class="lead-header-item"> 
                                      <div class="lead-header-item-title">
                                          <h6>Expected Closed Date</h6>
                                      </div>
                                      <div class="lead-header-item-body">
                                          <span>{{lead.expected_close_date}}</span>
                                      </div>
                                 </div>
                                  <div class="lead-header-item"> 
                                      <div class="lead-header-item-title">
                                          <h6>Confidence</h6>
                                      </div>
                                      <div class="lead-header-item-body">
                                          <span>{{lead.confidence}}%</span>
                                      </div>
                                 </div>
                                 <div class="lead-header-item"> 
                                      <div class="lead-header-item-title">
                                          <h6>Value</h6>
                                      </div>
                                      <div class="lead-header-item-body">
                                          <span>${{lead.value}}</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="" style="padding-bottom: 1.5rem;">	
                                  <div>
                                      <h6>Pipeline: <span>{{lead.pipeline.name}}</span></h6>
                                  </div>
                                  <div  class="arrow-steps clearfix" style="display: flex;">
                                      <div id="steps-container" style="display: flex;">
                                          {% for stage in lead.pipeline.stages.all %}
                                            {% if  forloop.first %}
                                                <div class="step-container" id = "stage-{{stage.id}}">
                                                    <div class="step first-step pipeline-stage {% if lead.status.name == 'Lost' or lead.status.name == 'Cancelled' %} step-disabled {% else %} current {% endif %} {% if stage|is_stage_complete:lead %} done {% endif %}" data-complete="{{ stage|is_stage_complete:lead }}" data-target="{{stage.name}}" data-id="{{stage.id}}" data-step="{{stage.step}}" onclick="show_tab(this);"> <span id="step-span-{{stage.step}}"> {{stage.name}}</span> </div>
                                                    {% if stage|is_stage_complete:lead %} <div class="step-edit" ><a id="advance-link-{{stage.step}}" href="javascript:void(0);" class="advance-link" data-stage="{{stage.id}}" data-step="{{stage.step}}" onclick="advance_to_stage(this);" style="display: none;">Advance to this stage</a></div>{% endif %}
                                                </div>
                                            {% else %}
                                                <div class="step-container" id = "stage-{{stage.id}}">
                                                    <div class="step {% if stage|is_stage_complete:lead != None %} {% if stage|is_stage_complete:lead %} done {% if lead.status.name == 'Lost' or lead.status.name == 'Cancelled' %} step-disabled {% else %} current {% endif %}  {% else %} step-list-item {% endif %}{% endif %}" data-complete="{{ stage|is_stage_complete:lead }}" data-target="{{stage.name}}" data-step="{{stage.step}}" onclick="show_tab(this);"> <span id="step-span-{{stage.step}}"> {{stage.name}}</span> </div>
                                                  {% if stage|is_stage_complete:lead == False %} <div class="step-edit" ><a id="advance-link-{{stage.step}}" href="javascript:void(0);" class="advance-link" data-stage="{{stage.id}}" data-step="{{stage.step}}" onclick="advance_to_stage(this);" style="display: none;">Advance to this stage</a></div>{% endif %}                                      </div>
                                            {% endif %}
                                          {% endfor %}
                                      </div>
                                  </div>
                                  <div class="nav clearfix">
                                  </div>
                              </div>
                              <div id="lead-tab">
                                  {% for stage in lead.pipeline.stages.all %}
                                       <div class="lead-body lead-tab-pane" id="{{stage.name}}" style="{% if forloop.first %} display: block; {% else %} display: none; {% endif %}">
                                      
                                          <div class="lead-body-item ">
                                              <div class="lead-body-item-header">
                                                  <h6>
                                                      Goal: <span id ="tab-step-{{stage.step}}">{{stage.name}}</span>
                                                  </h6>
                                              </div>
                                              <div class="lead-body-item-content">
                                                  <div class="icon-div">
                                                      <div>
                                                          <i class="ion ion-md-flashlight"></i>
                                                      </div>
                                                  </div>
                                                  <div class="content-div">
                                                      <h6>Guidance</h6>
                                                      <p>{{stage.guidance}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="lead-body-item ">
                                              <div class="lead-body-item-header" style="display: flex; align-items: center;">
                                                  <h6 style="margin-top: 26px;">
                                                      Tasks
                                                  </h6>
                                              </div>
                                              <div class="lead-body-item-content">
                                                  <div class="content-div w-100" id="tasks-{{stage.name}}">
                                                      {% for task in stage.tasks.all %}
                                                          <div id="task-{{task.id}}">
                                                              <div class="d-flex  w-100">
                                                                  <div class="col-9">
                                                                      <label class="custom-control custom-checkbox m-0">
                                                                          <input id="task-input-{{task.id}}" type="checkbox" {% if lead.status.name == 'Lost' or lead.status.name == 'Cancelled' %} disabled {% endif %} class="custom-control-input" data-task="{{task.id}}" data-step="{{stage.step}}" onclick="complete_task(this);" {% if task|is_task_complete:lead %} checked{% endif %}>
                                                                          <span class="custom-control-label">{{task.name}}</span>
                                                                      </label>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      {% endfor %}
                                                  </div>
                                              </div>
                                          </div>
                                      
                                  </div>
                                  {% endfor %}
                              </div>
                          </div>
                        
                      </div>
                </div>
                <div class="tab-pane fade" id="more-info">
                   
                    <div class="">
                        <h6 class="card-header">
                            Company
                        </h6>
                        <div class="card-body">
                            {{lead.company}}
                        </div>
                        <h6 class="card-header">
                            People
                        </h6>
                        <div class="">
                            <div class="products-container col-sm-10"> 
                                {% for person in lead.people.all %}
                                    <div class="product-item">
                                        <div class="person-icon"> 
                                            <i class="fas fa-user-check d-block"></i>
                                        </div>
                                        <div class="product-name">
                                            {{person.first_name}}  {{person.last_name}}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <h6 class="card-header">
                            Products
                        </h6>
                        <div class="">
                            <div class="products-container col-sm-10"> 
                                {% for product in lead.product_lines.all %}
                                    <div class="product-item">
                                        <div class="person-icon"> 
                                            <i class="fas fa-box-open d-block"></i>
                                        </div>
                                        <div class="product-name">
                                            {{product.product}} ${{product.product.price}} (x{{product.quantity}})
                                        </div> 
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <h6 class="card-header">
                            Source
                        </h6>
                        <div class="card-body">
                            <div>
                                {{lead.source}}
                            </div>
                        </div>
                        <h6 class="card-header">
                            Status
                        </h6>
                        <div class="card-body" id="lead-status">
                           {% if lead.status.name != "Won" %}
                            <div class="form-group row">
                                <div class="col-sm-10">
                                <select class="custom-select" id="status-selection" value="{{lead.status.id}}">
                                    {% for status in statuses %}
                                    <option value="{{status.id}}" {% if status.id == lead.status.id %} selected {% endif %}>{{status.name}}</option>
                                    {% endfor %}
                                </select>                  
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-primary" data-lead="{{lead.id}}" onclick="update_lead_status(this);" >save</button>
                                </div>
                            </div>
                            {% else %}
                                {{lead.status}}
                           {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<button id="show-modal" class="btn btn-primary" data-toggle="modal" data-target="#modals-reason"  style="display: none;">save</button>
 <!-- Modal template -->
<div class="modal modal-top fade" id="modals-reason">
    <div class="modal-dialog">
        <form class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Reason 
                    <br>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col">
                        <label class="form-label">Loss Reason</label>
                        <input id="reason" type="text" class="form-control" placeholder="Why was this lead lost?">
                        <span id="reason-error"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="save-status" data-lead="{{lead.id}}" onclick="update_lead_status(this);">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'crm/assets/js/demo.js' %}"></script>
    <script src="{% static 'crm/assets/vendor/libs/datatables/datatables.js' %}"></script>
    <script src="{% static 'crm/assets/js/tables_datatables.js' %}"></script>
    <script src="{% static 'crm/assets/js/leads_wizard_progress.js' %}"></script>
    <script src="{% static 'crm/assets/vendor/libs/sweetalert2/sweetalert2.js' %}"></script>

    <script>
        lead = {{lead.serialize|safe}}

        function show_tab(element) {
            $('.lead-tab-pane').hide();
            id = '#' + element.dataset.target;
            $(id).show();
            
            //set current
            //$('.step').removeClass('current');
            //$(element).addClass('current');

        }

        lead_status = document.querySelector('#status-selection');
        if (lead_status) {
            lead_status.value = $('option[selected]').attr('value');
        }

        $('#status-selection').on('change', ()=>{
            
            if ($( "#status-selection option:selected").text().trim() == "Lost") {
                $('#show-modal').click();
            }
        });
        
  
    </script>
    
{% endblock %}