

{% extends "crm/layout.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'crm/assets/vendor/libs/datatables/datatables.css' %}">
{% endblock %}
{% block body %}
<div class="layout-content">
	<!-- Content -->
	<div class="container-fluid flex-grow-1 container-p-y">
		<div style="display: flex; margin-bottom: 20px;">
			<div>
				<h4 class="font-weight-bold mb-4">
					<span class="text-muted font-weight-light">Pipelines /</span> List
				</h4>
			</div>
			<div style="margin-left: auto;">
				<a href="{% url 'pipeline_create' %}">
				<button type="submit" class="btn btn-primary">New Pipeline</button>
				</a>
			</div>
		</div>
		<div class="card">
			<h6 class="card-header">
				DataTable within card
			</h6>
			<div class="pipeline-list-container card-body">
				{% for pipeline in pipelines %}
				<div class="pipeline-list-item">
					<div class="" style="padding-bottom: 5px; padding-top: 5px;">
						<div>
							<h6>Pipeline: <span>{{ pipeline.name }}</span></h6>
						</div>
						<div style="display: flex;">
							<div  class="arrow-steps clearfix" style="display: flex; flex-wrap: wrap; width: 98%;">
								{% for stage in pipeline.stages.all %}
								{% if  forloop.first %}
								<div id="steps-container" style="display: flex;">
									<div class="step-container" id = "stage-1">
										<div class="step first-step step-list-item"> <span> {{ stage.name }}</span> </div>
									</div>
								</div>
								{% else %}
								<div id="steps-container" style="display: flex;">
									<div class="step-container" id = "stage-1">
										<div class="step step-list-item"> <span> {{ stage.name }}</span> </div>
									</div>
								</div>
								{% endif %}
								{% endfor %}
							</div>
							<div>
								<div class="more">
									<button id="more-btn" class="more-btn">
									<span class="more-dot"></span>
									<span class="more-dot"></span>
									<span class="more-dot"></span>
									</button>
									<div class="more-menu">
										<div class="more-menu-caret">
											<div class="more-menu-caret-outer"></div>
											<div class="more-menu-caret-inner"></div>
										</div>
										<ul class="more-menu-items" tabindex="-1" role="menu" aria-labelledby="more-btn" aria-hidden="true">
											<li class="more-menu-item" role="presentation">
												<a  class="more-menu-btn" href="{% url 'pipeline_edit' pipeline.id %}">
												Edit
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="nav clearfix">
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'crm/assets/js/demo.js' %}"></script>
    <script src="{% static 'crm/assets/vendor/libs/datatables/datatables.js' %}"></script>
    <script src="{% static 'crm/assets/js/tables_datatables.js' %}"></script>
    <script src="{% static 'crm/assets/js/more_menu.js' %}"></script>
{% endblock %}

