

{% extends "crm/layout.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'crm/assets/vendor/libs/datatables/datatables.css' %}">
    <link rel="stylesheet" href="{% static 'crm/assets/vendor/libs/sweetalert2/sweetalert2.css' %}">
{% endblock %}
{% block body %}
<div class="layout-content">
	<!-- Content -->
	<div class="container-fluid flex-grow-1 container-p-y">
		<h4 class="font-weight-bold py-3 mb-4">
			<span class="text-muted font-weight-light">Pipeline /</span> Create
		</h4>
		<div class="card mb-4">
			<h6 class="card-header">
				New Pipeline
			</h6>
			<div class="card-body">
				<div class="form-group row" style="margin-bottom: 15px;">
					<label class="col-form-label col-sm-1 text-sm-right">Pipeline name</label>
					<div class="col-sm-11">
						<input id="pipeline-name" type="text" class="form-control" placeholder="Pipeline name">
					</div>
				</div>
				<div class="" style="padding-bottom: 1.5rem;">
					<div>
						<h6>Pipeline: <span>Stages</span></h6>
					</div>
					<div  class="arrow-steps clearfix" style="display: flex;">
						<div id="steps-container" style="display: flex;">
							<div class="step-container" id = "stage-1">
								<div class="step first-step pipeline-stage current" data-target="tab-1" data-step="1" onclick="show_tab(this);"> <span id="step-span-1"> Pitch</span> </div>
								<div class="step-edit" ><a href="javascript:void(0);" data-step="1" onclick="edit_stage(this);">Edit</a></div>
							</div>
						</div>
						<div class="step-container">
							<div  class="step add-new" id="add-stage" data-step="4" data-toggle="modal" data-target="#modals-new-stage"> <span>+ Add stage</span> </div>
						</div>
					</div>
					<div class="nav clearfix">
					</div>
				</div>
				<div id="lead-tab">
					<div class="lead-body lead-tab-pane" id="tab-1">
						<div class="lead-body-item ">
							<div class="lead-body-item-header">
								<h6>
									Goal: <span id ="tab-step-1">Pitch</span>
								</h6>
							</div>
							<div class="lead-body-item-content">
								<div class="form-group row" style="width: 100%;">
									<label class="col-form-label col-sm-1 text-sm-right">Stage Guidance</label>
									<div class="col-sm-11">
										<textarea id="guidance-1" class="form-control" placeholder="Textarea"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="lead-body-item ">
							<div class="lead-body-item-header" style="display: flex; align-items: center;">
								<h6 style="margin-top: 26px;">
									Tasks
								</h6>
								<div style="margin-left: 20px;
									height: 15px; ">
									<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modals-new-task" data-step="1" onclick="new_task(this);"><i class="fas fa-plus d-block"></i></button>
								</div>
							</div>
							<div class="lead-body-item-content">
								<div class="content-div w-100" id="tasks-1">
								</div>
							</div>
						</div>
					</div>
				</div>
				<button id="show-modal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modals-edit-stage" style="display: none;">Show</button>
				<!-- Modal template -->
				<div class="modal modal-top fade" id="modals-edit-stage">
					<div class="modal-dialog">
						<form class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">
									Pipeline Stage
								</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
							</div>
							<div class="modal-body">
								<div class="form-row">
									<div class="form-group col">
										<label class="form-label">Stage name</label>
										<input id="stage-name-edit" type="text" class="form-control" placeholder="Pipeline stage name">
										<span id="stage-edit-error"></span>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal" id="edit-dismiss">Close</button>
								<button type="button" class="btn btn-default"  id="edit-delete" onclick="delete_stage(this);">Delete</button>
								<button id="edit_stage_button" type="button" class="btn btn-primary" onclick="save_stage_edit(this);">Edit</button>
							</div>
						</form>
					</div>
				</div>
				<!-- Modal template -->
				<div class="modal modal-top fade" id="modals-new-stage">
					<div class="modal-dialog">
						<form class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">
									Pipeline Stage
									<br>
								</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
							</div>
							<div class="modal-body">
								<div class="form-row">
									<div class="form-group col">
										<label class="form-label">Stage name</label>
										<input id="stage-name" type="text" class="form-control" placeholder="Pipeline stage name">
										<span id="stage-name-error"></span>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal" id="dismiss-stage-modal">Close</button>
									<button type="button" class="btn btn-primary" id="save-stage" onclick="save_stage();">Save</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- Modal template -->
				<div class="modal modal-top fade" id="modals-new-task">
					<div class="modal-dialog">
						<form class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">
									Stage task
									<br>
								</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
							</div>
							<div class="modal-body">
								<div class="form-row">
									<div class="form-group col">
										<label class="form-label">Task name</label>
										<input id="task-name" type="text" class="form-control" placeholder="Task name" >
										<span id="task-name-error"></span>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal" id="dismiss-task-modal">Close</button>
									<button type="button" class="btn btn-primary" id="save-task" onclick="add_task(this);">Save</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div style="display: flex; justify-content: right; align-items: right;">
					<button id="save-pipeline" type="button" class="btn btn-primary" onclick="save_pipeline(this);">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'crm/assets/js/demo.js' %}"></script>
    <script src="{% static 'crm/assets/vendor/libs/datatables/datatables.js' %}"></script>
    <script src="{% static 'crm/assets/js/tables_datatables.js' %}"></script>
    <script src="{% static 'crm/assets/vendor/libs/sweetalert2/sweetalert2.js' %}"></script>
    <script src="{% static 'crm/assets/js/ui_modals.js' %}"></script>
    <script src="{% static 'crm/assets/js/pipeline_create.js' %}"></script>
    <script>
        function oncheck(b) {
            b.checked = false;
        }
    </script>
{% endblock %}

