

{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<title>Login 08</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'crm/css/style.css' %}">
		<!-- Icon fonts -->
		<link rel="stylesheet" href="{% static 'crm/assets/vendor/fonts/fontawesome.css' %}">
		<link rel="stylesheet" href="{% static 'crm/assets/vendor/fonts/ionicons.css' %}">
		<link rel="stylesheet" href="{% static 'crm/assets/vendor/fonts/linearicons.css' %}">
		<link rel="stylesheet" href="{% static 'crm/assets/vendor/fonts/open-iconic.css' %}">
		<link rel="stylesheet" href="{% static 'crm/assets/vendor/fonts/pe-icon-7-stroke.css' %}">
		<!-- Core stylesheets -->
		<link rel="stylesheet" href="{% static 'crm/assets/vendor/css/rtl/bootstrap.css' %}" class="theme-settings-bootstrap-css">
		<link rel="stylesheet" href="{% static 'crm/assets/vendor/css/rtl/appwork.css' %}" class="theme-settings-appwork-css">
		<link rel="stylesheet" href="{% static 'crm/assets/vendor/css/rtl/theme-corporate.css' %}" class="theme-settings-theme-css">
		<link rel="stylesheet" href="{% static 'crm/assets/vendor/css/rtl/colors.css' %}" class="theme-settings-colors-css">
		<link rel="stylesheet" href="{% static 'crm/assets/vendor/css/rtl/uikit.css' %}">
		<link rel="stylesheet" href="{% static 'crm/assets/css/demo.css' %}">
		<link rel="stylesheet" href="{% static 'crm/assets/css/main.css' %}">
		{% block stylesheet %}
		{% endblock %}
		<script src="{% static 'crm/js/jquery.min.js' %}"></script>
		<!-- Load polyfills -->
		<script src="{% static 'crm/assets/vendor/js/polyfills.js' %}"></script>
		<script>document['documentMode']===10&&document.write('<script src="https://polyfill.io/v3/polyfill.min.js?features=Intl.~locale.en"><\/script>')</script>
		<script src="{% static 'crm/assets/vendor/js/material-ripple.js' %}"></script>
		<script src="{% static 'crm/assets/vendor/js/layout-helpers.js' %}"></script>
		<script src="{% static 'crm/assets/vendor/js/theme-settings.js' %}"></script>
		<script>
			window.themeSettings = new ThemeSettings({
				onSettingsChange: function(currentSettings) {
					//get settings
					settings = window.themeSettings.settings;
			
					//get theme primary color
					primary = settings.theme.colors.primary;
			
					var styleElem = document.head.appendChild(document.createElement("style"));
			
					styleElem.innerHTML = `:root { --primary: ${primary}; }`;
				},
			  cssPath: "{% static 'crm/assets/vendor/css/rtl/' %}",
			  themesPath: "{% static 'crm/assets/vendor/css/rtl/' %}"
			});
			
			
		</script>
	</head>
	<body>
		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-8 text-center mb-5">
						<h2 class="heading-section"></h2>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-8 col-lg-7">
						<div class="login-wrap p-4 p-md-5">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="far fa-user"></span>
							</div>
							<h3 class="text-center mb-4">Registration</h3>
							<form action="#" class="login-form" method="post">
                                {% csrf_token %}
								<div class="form-group">
                                    {{user_form.first_name.label_tag}}
                                    {{user_form.first_name}}

                                    {% if first_name.errors %}
                                        <ul>
                                            {% for error in first_name.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
								</div>
                                <div class="form-group">
                                    {{user_form.last_name.label_tag}}
                                    {{user_form.last_name}}

                                    {% if user_form.first_name.errors %}
                                        <ul>
                                            {% for error in user_form.first_name.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                                <div class="form-group">
									{{user_form.email.label_tag}}
                                    {{user_form.email}}

                                    {% if user_form.email.errors %}
                                        <ul>
                                            {% for error in user_form.email.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
								</div>
                                <div class="form-group">
									{{user_form.password.label_tag}}
                                    {{user_form.password}}

                                    {% if user_form.password.errors %}
                                        <ul>
                                            {% for error in user_form.password.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
								</div>
                                <div class="form-group">
									{{customer_form.customer_name.label_tag}}
                                    {{customer_form.customer_name}}

                                    {% if customer_form.customer_name.errors %}
                                        <ul>
                                            {% for error in customer_form.customer_name.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
								</div>
                                <div class="form-group">
                                    {{customer_form.customer_phone.label_tag}}
                                    {{customer_form.customer_phone}}	

                                    {% if customer_form.customer_phone.errors %}
                                        <ul>
                                            {% for error in customer_form.phone.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{customer_form.customer_email.label_tag}}
                                    {{customer_form.customer_email}}	
                                    
                                    {% if customer_form.email.errors %}
                                        <ul>
                                            {% for error in customer_form.customer_email.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
								<div class="form-group d-md-flex">
									<div class="w-100 text-md-right">
										<a href="{% url 'login' %}" style="color: var(--primary);">Already have an account? Login.</a>
									</div>
								</div>
								<div class="form-group" style="display: flex;">
									<button type="submit" class="btn btn-primary rounded submit p-3 px-5" style="padding-bottom: 32px !important;">Rregister</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<script src="{% static 'crm/assets/vendor/libs/popper/popper.js' %}"></script>
		<script src="{% static 'crm/assets/vendor/js/bootstrap.js' %}"></script>
		<script src="{% static 'crm/js/main.js' %}"></script>
		<!-- / Layout wrapper -->
		<!-- Libs -->
		<script src="{% static 'crm/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
		<!-- Setting theme color vars -->
		<script src="{% static 'crm/assets/js/theme_color_setter.js' %}"></script>
		<script>
			window.addEventListener('DOMContentLoaded', (event) => {
				$('.theme-settings-open-btn').hide();
			});
		</script>
	</body>
</html>

